        .login-body {
            background-image: url(../../static/img/login.jpg);
            background-size: cover;
        }
        
        .head-name {
            color: azure
        }
        
        .main-box {
            background-color: ghostwhite;
            border-radius: 10px;
        }